<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Little Italy{% endblock %}</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="{% url 'menu' %}">Menú</a></li>
                <li><a href="{% url 'carrito' %}">Carrito</a></li>
                <li><a href="{% url 'pedido' %}">Pedidos</a></li>
                <li><a href="{% url 'usuario' %}">Usuario</li>

            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Little Italy</p>
    </footer>
    